.login-container {
  height: fit-content;
  width: fit-content;
  padding: 15px;
  text-align: center;
  border: 1px solid blue;
  border-radius: 5px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: lightblue;
}
