* {
  box-sizing: border-box;
}
h3 {
  text-align: center;
}
.summary-container {
  border: 2px solid blue;

  border-radius: 5px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
  margin: 10px auto;
  width: fit-content;
}
.summary-container p {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.summary-key {
  font-size: 1em;
  font-weight: 500;
  text-align: right;
  width: 50%;
  margin: 2px 5px;
}
.summary-data {
  font-size: 1em;
  font-weight: 500;
  text-align: left;
  width: 50%;
  margin: 2px 5px;
}
