<header class="header">
  <div class="logo">
    <img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.favpng.com%2F10%2F2%2F2%2Fairplane-aircraft-logo-png-favpng-BQ04HkM6K63NpDP8XMLJdc8xq.jpg&f=1&nofb=1&ipt=9a3de64676d3cf52d252f51d52247a79e5f8ec6e358cbee9a4c10ed7cd6704a1&ipo=images"
      alt=""
      (click)="logoHome()"
    />
  </div>
  <div class="menu-button header-border" (click)="loginClick(loginPop)">
    Login
  </div>

  <div class="header-border right">
    <img [src]="userPic" alt="user" />
  </div>
</header>
<div #loginPop class="login-visibility-off">
  <app-login-popup></app-login-popup>
</div>
