$background-color-button: rgb(0, 0, 153);
$background-color-button-hover: rgba(146, 146, 240, 0.356);
* {
  box-sizing: border-box;
}
.header-border {
  border: 2px solid rgb(228, 228, 235);
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(78, 78, 243);
  margin: 0;
}

.menu-button {
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 1rem;
  padding: 2rem 0;
  background-color: $background-color-button;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 2px -2px 2px 2px rgb(96, 119, 148), 0 0 4px 4px rgb(228, 233, 236);
  color: white;
}

.menu-button:hover {
  cursor: pointer;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem 0;
  background-color: $background-color-button-hover;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 3px -3px 3px 3px rgb(92, 123, 163), 0 0 6px 6px rgb(228, 233, 236);
  overflow: visible;
}

.logo {
  position: absolute;
  left: 20px;
  background-color: white;
  height: 90px;
}
.login-visibility-off {
  height: 0;
  position: absolute;

  right: -100px;
  top: 10px;
  opacity: 0;
  transition: all 1.5s ease;
}
.login-visibility-on {
  height: 200px;
  position: absolute;

  right: 10%;
  top: 10px;
  opacity: 1;
  transition: all 1s ease;
}
