.main {
  height: 75vh;
  display: flex;

  flex-wrap: wrap;
  position: relative;
}
.floating-booking {
  position: absolute;
  top: 3%;
  left: 0;
  right: 5%;
  margin: 0 auto;
  width: fit-content;
}
.main img {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  overflow: hidden;
  // width: 50%;
  z-index: -1;
  position: relative;
  background-color: white;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .main img {
    opacity: 0.7;
    overflow: hidden;
    width: 100%;
    // height: 200px;
    object-fit: cover;
    margin: auto;
    position: static;
    height: 75vh;
  }
  .main {
    height: fit-content;
  }
  .floating-booking {
    width: 80%;
    left: 0;
    right: 0;
    top: 5%;
    margin: auto auto;
  }
}
