<div class="container">
  <div class="modal-wrapper visible hidden" #modalWrapper>
    <app-info-modal
      [inputInfo]="loginWarning"
      (openClose)="modalVis($event, modalWrapper)"
    ></app-info-modal>
  </div>
  <div class="query-container">
    <div class="query-data">
      <h3 class="grid-col-1 sm-grid-col-1-2">Search parameters:</h3>
      <p class="grid-col-2 sm-grid-col-1">Origin: {{ query.origin }}</p>
      <p class="grid-col-3 sm-grid-col-2">
        Destination: {{ query.destination }}
      </p>
      <p class="grid-col-1 sm-grid-col-1">From: {{ query.takeoffDateStart }}</p>
      <p class="grid-col-2 sm-grid-col-2">To: {{ query.takeoffDateEnd }}</p>
      <p class="grid-col-1 sm-grid-col-1">Adults: {{ query.adults }}</p>
      <p class="grid-col-2 sm-grid-col-2">Children: {{ query.children }}</p>
      <p class="grid-col-3 sm-grid-col-1-2">Newborn: {{ query.newborn }}</p>
    </div>
    <div class="query-weather">
      <img [src]="forecastIcon" alt="ForecastImage" style="height: 3rem" />
      <p>Temp: {{ forecastTemp }} <sup>o</sup>C</p>
    </div>
  </div>

  <div class="results">
    <div class="result" *ngIf="filteredFlights.length === 0">
      <p style="margin: 5px auto">
        There are no valid flights available. Choose other airports or dates.
      </p>
    </div>
    <div
      class="result-container"
      *ngFor="let flug of filteredFlights; let i = index"
    >
      <div class="result-head">
        {{ flug.date | date : "shortDate" }}
        {{ flug.flightPrice | currency : "USD" }}
      </div>
      <div
        class="result"
        (click)="
          footer.classList.toggle('result-footer-hidden');
          footer.classList.toggle('result-footer-visible')
        "
      >
        <div class="vertical-center result-left">
          <p><small>Operated by:</small></p>
          <p>{{ flug.company.name }}</p>
          <img [src]="flug.company.logo" alt="" style="height: 40px" />
        </div>
        <div class="result-flightdata">
          <div class="vertical-center">
            <p>{{ flug.origin.city }}, {{ flug.origin.country }}</p>
            <p>
              {{ flug.date | date : "shortTime" }}
            </p>
          </div>
          <div>
            <p>{{ flug.flightNumber }}</p>
            <img
              src="assets/plane-icon.jpg"
              onerror=""
              style="height: 30px"
              alt=""
            />
            <p>{{ flug.durationM | duration }}</p>
          </div>
          <div class="vertical-center">
            <p>{{ flug.destination.city }}, {{ flug.destination.country }}</p>
            <p>
              {{
                flug.date | landingtimer : flug.durationM | date : "shortTime"
              }}
            </p>
          </div>
        </div>
      </div>
      <div class="result-footer-hidden" #footer>
        <label for="" class="display-block">
          <input
            type="checkbox"
            [(ngModel)]="secondLuggage"
            name="luggage"
            id="luggage"
          />
          Additional piece of luggage (20kg)
        </label>
        <button
          class="small-button display-block"
          (click)="bookFlightClick(flug)"
        >
          Book this flight!
        </button>
      </div>
    </div>
  </div>
</div>
