.border {
  border: 1px solid blue;
  border-radius: 5px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.container {
  height: 300px;
  // width: 100%;
  padding: 10px 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.711);

  width: 100%;
}
select,
input {
  margin: 5px;
  height: 1.5em;
  width: 11rem;
  background-color: unset;
  border: 1px solid black;
  box-shadow: 0px 0px 1px 1px grey;
  border-radius: 0.3rem;
}
select:hover,
input:hover {
  margin: 5px;
  height: 1.5em;
  width: 11rem;
  background-color: unset;
  border: 1px solid grey;
  box-shadow: 0px 0px 1px 1px black;
  border-radius: 0.3rem;
}
input[type="number"] {
  width: 2rem;
  text-align: end;
}
label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shadow {
  box-shadow: 2px -2px 3px 3px rgba(0, 0, 126, 0.514);
}
button {
  margin: 5px auto;
  display: block;
  width: fit-content;
}
