<div class="booking-frame">
  <form [formGroup]="bookinginput" class="border shadow container" action="">
    <label for="origin"
      >Origin:
      <select name="origin" type="text" formControlName="origin">
        <option value="" disabled>Choose origin town</option>
        <ng-container *ngFor="let el of airportList">
          <option [value]="el">
            {{ el }}
          </option>
        </ng-container>
      </select>
    </label>

    <label for="destination">
      Destination:
      <select type="text" formControlName="destination">
        <option value="" disabled>Choose destination town</option>
        <ng-container *ngFor="let el of airportList">
          <option [value]="el">{{ el }}</option>
        </ng-container>
      </select>
    </label>

    <label for="">
      <span style="display: block"> Passengers: </span>
      <div>
        <label for="">
          Adults: <input type="number" name="" id="" formControlName="adults" />
        </label>
        <label for="">
          Children (3 - 12 years):
          <input type="number" formControlName="children" />
        </label>
        <label for="">
          Newborn (0 - 3 years):
          <input type="number" formControlName="newborn" />
        </label>
      </div>
    </label>
    <label for="">
      From:
      <input
        type="date"
        name=""
        id=""
        formControlName="takeoffDateStart"
        [min]="dzisiaj"
      />
    </label>
    <label for="">
      To:
      <input
        type="date"
        name=""
        id=""
        formControlName="takeoffDateEnd"
        [min]="bookinginput.value.takeoffDateStart"
      />
    </label>

    <button
      (click)="flightSearch()"
      type="submit"
      class="menu-button"
      style="height: 2rem; padding: 0"
    >
      Search flights!
    </button>
    <div *ngIf="bookinginput.controls['origin'].invalid && bookinginput.dirty">
      Choose origin and destination
    </div>
    <div
      style="text-align: center"
      *ngIf="
        bookinginput.value.origin === bookinginput.value.destination &&
        bookinginput.controls['destination'].dirty
      "
    >
      Destination cannot be the same as origin! <br />Choose other destination
      airport!
    </div>
  </form>
</div>
