* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.site-main {
  width: 100%;
  padding: 0;
  margin: 0;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0;
}
