* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.site-main {
  width: 100%;
  padding: 0;

  margin: 0;
  // margin-bottom: 15%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0;
}

.modal-wrapper {
  height: 5rem;
  width: 150px;
  position: fixed;
  z-index: 100;
  padding: 10px;
  padding-top: 15px;
  margin: auto;
  right: calc(50% - 75px);
}

.visible {
  top: 15%;
}

.hidden {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  z-index: -100;
  transition: all 1s ease;
  top: -100px;
  right: calc(50% - 75px);
}
