* {
  box-sizing: border-box;
}
.border {
  border: 2px blue solid;
  border-radius: 5px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
.user-page-wrapper {
  width: fit-content;
  margin: 10px auto;
  padding: 5px;
  gap: 10px;
}
.user-data {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.personal-data {
  padding: 10px;

  overflow: hidden;
  height: fit-content;
  transition: all 1s ease-out;
  text-align: center;
}
.flights {
  padding: 10px;
  overflow: hidden;
  height: fit-content;
  transition: all 1s ease-out;
}

h2 {
  text-align: center;
  margin: 15px;
}
h3 {
  text-align: center;
  margin: 0 auto 5px auto;
}
.short {
  height: 2.5rem;
  transition: all 1s ease-out;
}
.small-button {
  width: fit-content;
  height: 2.5rem;
  text-align: center;
  font-size: 1rem;

  background-color: rgb(0, 0, 153);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 2px -2px 2px 2px rgb(96, 119, 148), 0 0 4px 4px rgb(228, 233, 236);
  color: white;
}

.small-button:hover {
  cursor: pointer;

  font-size: 1.2rem;
  background-color: rgb(128, 85, 245);
  box-shadow: 3px -3px 3px 3px rgb(92, 123, 163), 0 0 6px 6px rgb(228, 233, 236);
  overflow: visible;
}
.result {
  border: 2px blue solid;
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  column-gap: 5px;
  flex-wrap: wrap;
}
.result-head {
  text-align: center;
  font-weight: 700;
}
.results {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.result-left {
  width: 19%;
}
.result-left p {
  text-align: center;
}
.result-flightdata {
  text-align: center;
  column-gap: 1%;
  display: flex;
  justify-content: space-between;
  width: 79%;
}
.result-container {
  overflow: hidden;
}
.vertical-center {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
