<div class="user-page-wrapper">
  <div class="user-data">
    <h2>
      Hello <span>{{ this.loginService.loggedInUser.name }}</span
      >!
    </h2>
    <div
      class="personal-data border short"
      (click)="toogleSize(personalData)"
      #personalData
    >
      <h3>Personal data</h3>
      <p>
        Name: {{ this.loginService.loggedInUser.name }}
        {{ this.loginService.loggedInUser.surname }}
      </p>
      <p>E-mail: {{ this.loginService.loggedInUser.email }}</p>
    </div>
    <div class="flights border short" (click)="toogleSize(flights)" #flights>
      <h3>Booked Flights</h3>
      <ng-container
        *ngIf="this.loginService.loggedInUser.bookedFlights.length === 0"
      >
        You have no booked flights right now. <br />
        Book any flight to see it on this card.
      </ng-container>
      <ng-container
        *ngFor="let item of this.loadedUser.bookedFlights; let index"
      >
        <div>
          <p>
            Flight from {{ item.flight.origin.city }} to
            {{ item.flight.destination.city }}
          </p>
          <p>Take-off: {{ item.flight.date | date : "dd.MM.yy  hh:mm" }}</p>
          <p>
            Flight duration:
            {{ item.flight.durationM | duration }}
          </p>

          {{ item.flight.date | landingtimer : item.flight.durationM | date }}

          <div class="result-head">
            {{ item.flight.date | date : "shortDate" }}
            {{ item.flight.flightPrice | currency : "USD" }}
          </div>
          <div class="result" t>
            <div class="vertical-center result-left">
              <p><small>Operated by:</small></p>
              <p>{{ item.flight.company.name }}</p>
              <img
                [src]="item.flight.company.logo"
                alt=""
                style="height: 40px"
              />
            </div>
            <div class="result-flightdata">
              <div class="vertical-center">
                <p>
                  {{ item.flight.origin.city }},
                  {{ item.flight.origin.country }}
                </p>
                <p>
                  {{ item.flight.date | date : "shortTime" }}
                </p>
              </div>
              <div>
                <p>{{ item.flight.flightNumber }}</p>
                <img
                  src="assets/plane-icon.jpg"
                  onerror=""
                  style="height: 30px"
                  alt=""
                />
                <p>{{ item.flight.durationM | duration }}</p>
              </div>
              <div class="vertical-center">
                <p>
                  {{ item.flight.destination.city }},
                  {{ item.flight.destination.country }}
                </p>
                <p>
                  {{
                    item.flight.date
                      | landingtimer : item.flight.durationM
                      | date : "shortTime"
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <br />
      </ng-container>
    </div>
    <div
      class="personal-data border short"
      (click)="toogleSize(logout)"
      #logout
    >
      <h3>Log out</h3>
      <br />
      <p>
        <button (click)="logOutUser()" class="small-button">
          Log out current user
        </button>
      </p>
    </div>
    <div class="personal-data border short" #passchange>
      <h3 (click)="toogleSize(passchange)">Change password</h3>
      <br />
      <form [formGroup]="passwordChangeForm" action="">
        <p>
          <label for="oldpass">Current password: </label>
          <input type="text" formControlName="oldPass" #oldPass />
        </p>
        <p>
          <label for="newpass">New Password: </label>
          <input type="text" formControlName="newPass" #newPass />
        </p>
        <p>
          <label for="passcheck">New password check: </label>
          <input type="text" formControlName="passCheck" #passCheck />
        </p>
      </form>
      <br />
      <p>
        <button
          (click)="
            passwordChange(oldPass.value, newPass.value, passCheck.value)
          "
          class="small-button"
        >
          Change password
        </button>
      </p>
    </div>
  </div>
</div>
