:root,
* {
  box-sizing: border-box;
}
.result {
  border: 2px blue solid;
  margin: 10px auto;
  padding: 0 5px;
  border-radius: 5px;
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.result-head {
  text-align: center;
}
.results {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.result-left {
  display: flex;
  column-gap: 10px;
  text-align: center;
}
.query-container {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.query-data {
  border: 2px blue solid;
  border-radius: 5px;
  padding: 5px;
  display: grid;
  gap: 3%;
  grid-template-columns: 1tr 1tr 1tr;
}
.grid-col-1 {
  grid-column: 1;
}
.grid-col-2 {
  grid-column: 2;
}
.grid-col-3 {
  grid-column: 3;
}
.result-left {
  display: flex;
}

@media screen and (max-width: 768px) {
  .results {
    width: unset;
  }
  .container {
    display: block;
  }
  .query-container {
    width: unset;
    text-align: center;
    word-wrap: normal;
  }
}
