<div class="container">
  <aside>
    <div class="query-data">
      <h3>Search parameters:</h3>
      <p>Origin: {{ query.origin }}</p>
      <p>Destination: {{ query.destination }}</p>
      <p>From: {{ query.takeoffDateStart }}</p>
      <p>To: {{ query.takeoffDateEnd }}</p>
      <p>Adults: {{ query.adults }}</p>
      <p>Children: {{ query.children }}</p>
      <p>Newborn: {{ query.newborn }}</p>
    </div>
  </aside>
  <div class="results">
    <div class="result" *ngIf="filteredFlights.length === 0">
      <p style="margin: 5px auto">
        There are no valid flights available. Choose other airports or dates.
      </p>
    </div>
    <div class="result" *ngFor="let flug of filteredFlights">
      <div>
        <p>From: {{ flug.origin.city }}, {{ flug.origin.country }}</p>
        <p>To: {{ flug.destination.city }}, {{ flug.destination.country }}</p>
      </div>
      <div>
        <p>Date: {{ flug.date | date : "mediumDate" }}</p>
        <p>Flight time: {{ flug.durationM | duration }}</p>
      </div>
      <div>
        <p>Departure time: {{ flug.date | date : "shortTime" }}</p>
        <p>Tickets total price:</p>
      </div>
    </div>
  </div>
</div>
